NET "CLOCK_50" LOC = P56;
NET "playerUp1" LOC = P51;
NET "playerDown1" LOC = P41;
NET "playerUp2" LOC = P35;
NET "playerDown2" LOC = P33;
NET "SW<0>" LOC = P30;
NET "SW<1>" LOC =	P27;
NET "SW<2>" LOC = P24;
NET "SW<3>" LOC = P22;
NET "SW<4>" LOC = P17;
NET "SW<5>" LOC = P15;
NET "SW<6>" LOC = P12;
NET "SW<7>" LOC = P10;
NET "SW<8>" LOC = P8;
NET "SW<9>" LOC = P6;
NET "VGA_R<0>" LOC = P50;
NET "VGA_R<1>" LOC = P40;
NET "VGA_R<2>" LOC = P34;
NET "VGA_R<3>" LOC = P32;
NET "VGA_G<0>" LOC = P29;
NET "VGA_G<1>" LOC = P26;
NET "VGA_G<2>" LOC = P23;
NET "VGA_G<3>" LOC = P21;
NET "VGA_B<0>" LOC = P16;
NET "VGA_B<1>" LOC = P14;
NET "VGA_B<2>" LOC = P11;
NET "VGA_B<3>" LOC = P9;
NET "VGA_VS" LOC = P7;
NET "VGA_HS" LOC = P5;
NET "speaker" LOC = P1;
NET "out1[0]" LOC = P58;
NET "out1[1]" LOC= P67;
NET "out1[2]" LOC= P75;
NET "out1[3]" LOC= P79;
NET "out1[4]" LOC= P81;
NET "out1[5]" LOC= P83;
NET "out1[6]" LOC= P85;
NET "out2[0]" LOC= P57;
NET "out2[1]" LOC= P66;
NET "out2[2]" LOC= P74;
NET "out2[3]" LOC= P78;
NET "out2[4]" LOC= P80;
NET "out2[5]" LOC= P82;
NET "out2[6]" LOC= P84;