//! **************************************************************************
// Written by: Map P.20131013 on Mon Jun 26 23:03:53 2017
//! **************************************************************************

SCHEMATIC START;
COMP "VGA_B<0>" LOCATE = SITE "P16" LEVEL 1;
COMP "VGA_B<1>" LOCATE = SITE "P14" LEVEL 1;
COMP "VGA_B<2>" LOCATE = SITE "P11" LEVEL 1;
COMP "VGA_B<3>" LOCATE = SITE "P9" LEVEL 1;
COMP "VGA_G<0>" LOCATE = SITE "P29" LEVEL 1;
COMP "VGA_G<1>" LOCATE = SITE "P26" LEVEL 1;
COMP "VGA_G<2>" LOCATE = SITE "P23" LEVEL 1;
COMP "VGA_G<3>" LOCATE = SITE "P21" LEVEL 1;
COMP "VGA_R<0>" LOCATE = SITE "P50" LEVEL 1;
COMP "VGA_R<1>" LOCATE = SITE "P40" LEVEL 1;
COMP "VGA_R<2>" LOCATE = SITE "P34" LEVEL 1;
COMP "VGA_R<3>" LOCATE = SITE "P32" LEVEL 1;
COMP "SW<0>" LOCATE = SITE "P30" LEVEL 1;
COMP "SW<1>" LOCATE = SITE "P27" LEVEL 1;
COMP "SW<2>" LOCATE = SITE "P24" LEVEL 1;
COMP "SW<3>" LOCATE = SITE "P22" LEVEL 1;
COMP "SW<4>" LOCATE = SITE "P17" LEVEL 1;
COMP "SW<5>" LOCATE = SITE "P15" LEVEL 1;
COMP "SW<6>" LOCATE = SITE "P12" LEVEL 1;
COMP "SW<7>" LOCATE = SITE "P10" LEVEL 1;
COMP "SW<8>" LOCATE = SITE "P8" LEVEL 1;
COMP "SW<9>" LOCATE = SITE "P6" LEVEL 1;
COMP "playerDown1" LOCATE = SITE "P41" LEVEL 1;
COMP "playerDown2" LOCATE = SITE "P33" LEVEL 1;
COMP "out1<0>" LOCATE = SITE "P58" LEVEL 1;
COMP "out1<1>" LOCATE = SITE "P67" LEVEL 1;
COMP "out1<2>" LOCATE = SITE "P75" LEVEL 1;
COMP "out1<3>" LOCATE = SITE "P79" LEVEL 1;
COMP "out2<0>" LOCATE = SITE "P57" LEVEL 1;
COMP "out1<4>" LOCATE = SITE "P81" LEVEL 1;
COMP "out2<1>" LOCATE = SITE "P66" LEVEL 1;
COMP "out1<5>" LOCATE = SITE "P83" LEVEL 1;
COMP "out2<2>" LOCATE = SITE "P74" LEVEL 1;
COMP "out1<6>" LOCATE = SITE "P85" LEVEL 1;
COMP "out2<3>" LOCATE = SITE "P78" LEVEL 1;
COMP "out2<4>" LOCATE = SITE "P80" LEVEL 1;
COMP "out2<5>" LOCATE = SITE "P82" LEVEL 1;
COMP "out2<6>" LOCATE = SITE "P84" LEVEL 1;
COMP "speaker" LOCATE = SITE "P1" LEVEL 1;
COMP "VGA_HS" LOCATE = SITE "P5" LEVEL 1;
COMP "VGA_VS" LOCATE = SITE "P7" LEVEL 1;
COMP "playerUp1" LOCATE = SITE "P51" LEVEL 1;
COMP "playerUp2" LOCATE = SITE "P35" LEVEL 1;
COMP "CLOCK_50" LOCATE = SITE "P56" LEVEL 1;
SCHEMATIC END;

